.search_box {
	position: relative;
	color: black;
	padding: 10px;
	border: 2px solid black;
	border-radius: 20px;
	margin-left: 60px;
	margin-top: 40px;
}

.search_list {
	margin: 0 40px;
	text-align: center;
	padding: 4px;
	list-style-type: none;
	visibility: hidden;

}