.container {
    background: rgb(0, 34, 68);
    background: linear-gradient(90deg, rgba(0, 34, 68, 1) 25%, rgba(19, 39, 79, 1) 50%, rgba(10, 35, 81, 1) 75%, rgba(31, 48, 94, 1) 100%);
    color: white;
    display: grid;
    padding: 0px 50px;
    grid-template-columns: 320px 1fr 290px;
    height: 110px;
    
}

.search {
    padding: 0.5em;

}

.search_box {
    margin: 5px;
    color: black;
    background: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: -10px;
}

.search_list {
    margin: 0 40px;
    padding: 4px;
    list-style-type: none;
    display: none;
    
}

.sidebar a {
    text-decoration: none;
    margin: 50px 100px;
    display: grid;
    color: white;
    font-size: 20px;
}

.sidebar svg:hover {
    color: black;
    transition: color .4s;
    cursor: pointer;
}


.title {
    text-align: center;
    padding: 2em;
}

.title h3 {
    padding: 10px;
}

.title a {
    color: white;
    text-decoration: none;
}

.title a span {
    color: black;
}

.title a:hover {
    transition: color .4s;
    color: black;
}

.categories {
    background: rgb(0, 34, 68);
    background: linear-gradient(45deg, rgba(0, 34, 68, 1) 25%, rgba(19, 39, 79, 1) 50%, rgba(10, 35, 81, 1) 75%, rgba(31, 48, 94, 1) 100%);
}

.categories_list {
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.categories_list li {
    margin: 0 0.5em;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
}

.categories_list a {
    text-decoration: none;
    color: white;
}

.categories_list a:hover {
    transition: color .4s;
    color: black;
}