.sidebar ul {
	animation: showSideBar 1s;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: rgba(19, 39, 79, 1);
	border-right: 2px solid black;

}

.sidebar li {
	text-align: center;
}

.sidebar li a {
	padding: 10px;
	text-decoration: none;
	color: white;
	display: block;
	font-size: 20px;
}

.sidebar li a:hover {
	background-color: black;
}

.sidebar li a:active {
	color: black;
	background-color: rgba(31, 48, 94, 1);
}

@keyframes showSideBar {
	from{
		opacity: 0;
		width: 0;
	}
	to{
		opacity: 1;
		width: 200px;
	}	
}
