.container_footer_height {
	margin-top: 27%;

}

.container_footer {
	background: rgb(0, 34, 68);
	background: linear-gradient(90deg, rgba(0, 34, 68, 1) 25%, rgba(19, 39, 79, 1) 50%, rgba(10, 35, 81, 1) 75%, rgba(31, 48, 94, 1) 100%);
	color: white;
	text-align: center;
	padding: 2em;

}

.footer {
	display: flex;
	justify-content: center;
	list-style-type: none;
	color: white;
}

.footer li {
	margin: 0 2em;
}

.footer li:hover {
	color: black;

}

.footer svg {
	font-size: 1.5em;
	cursor: pointer;
}

.container_footer span {
	background-color: black;
	margin: 0 0.25em;
	padding: 3px;
	color: #c8c800;
	font-weight: bold;

}